#root {
  background-color: #007bff;
  height: 100vh;
}
#root > div.container {
  background-color: #fff;
  height: 100vh;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h4 span {
  font-size: small;
  vertical-align: middle;
}
div.settings {
  margin: auto;
  width: fit-content;
}
div#custom-settings {
  margin-top: 20px;
}
div#custom-settings div {
  margin-top: 10px;
  margin-bottom: 10px;
}
div.game {
  margin: auto;
  width: fit-content;
}
div.game table {
  margin: auto;
}
div.game div {
  margin-top: 20px;
}
div.game button {
  margin-right: 10px;
}
h1 {
  text-align: center;
}
h1.game-over {
  color: red;
}
h1.won {
  color: green;
}
table.game {
  border-spacing: 0em;
  margin-right: auto;
  margin-left: auto;
}
td.cell:hover {
  background-color: lightblue;
}
td.cell {
  background-color: lightgray;
  border-width: 1px;
  border-color: darkgray;
  border-style: solid;
  width: 23px;
  height: 23px;
  margin: 0px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
td.revealed, td.revealed:hover {
  background-color: white
}
td.one {
  color: blue;
}
td.two {
  color: green;
}
td.three {
  color: red;
}
td.four {
  color: darkblue;
}
td.five {
  color: maroon;
}
td.six {
  color: teal;
}
td.seven {
  color: black;
}
td.eight {
  color: grey;
}
td.game-over {
  color: red;
}
td.exploded, td.exploded:hover {
  background-color: yellow;
}
span.flags {
  font-size: 18px;
}
span.danger {
  color: #dc3545;
}
span.note {
  font-size: 12px;
}
img.mine {
  width: 20px;
  height: 20px;
}
div.button-row {
  padding-top: 20px;
}
ul {
  margin: auto;
  padding: 0px;
}
ul.settings li, ul.errors li {
  list-style: none;
}
.radio-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.radio-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.radio-button {
  position: absolute;
  top: 2px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ccc;
  border-radius: 50%;
}
.radio-label:hover input ~ .radio-button {
  background-color: #aaa;
}
.radio-label input:checked ~ .radio-button {
  background-color: #2196F3;
}
.radio-button:after {
  content: "";
  position: absolute;
  display: none;
}
.radio-label input:checked ~ .radio-button:after {
  display: block;
}
.radio-label .radio-button:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.check-box {
  position: absolute;
  top: 2px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.check-box-label .check-box:after {
  left: 10px;
  top: 6px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}